.container {
background-color: greenyellow;
}

.title {
    padding-left: 2px;
    color: rgb(201, 196, 205);
    background-color: darkgreen;
    text-align: center;
    text-decoration: solid;
    text-shadow: rgb(201, 196, 205);
}
.header {
/* float: right; */
/* overflow-x:auto; */
}